/* RESET */
* {
  margin: 0;
  padding: 0;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* CONFIGURAÇÕES INICIAIS */
/* container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* TEXTOS */
/* títulos */
.titulo {
  font-family: 'Work Sans', sans-serif;
  font-size: 48px;
  color: #FFF;
  font-weight: 700;
  line-height: 1;
}

.titulo.t-inicial {
  font-size: 52px;
}

.titulo.t-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
}

.titulo.titulo.t-footer:before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 18px;
  background: #FFF;
  margin-right: 8px;
}

/* parágrafos */
.paragrafo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #FFF;
  line-height: 1.4;
  margin: 32px 0;
}

.paragrafo.p-footer {
  font-size: 20px;
  font-weight: 700;
}

/* botões */
.e-mail {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: flex-start;
  color: #FFF;
}

.e-mail img {
  margin-right: 16px;
}

.e-mail:hover {
  text-decoration: underline; 
}

.botao-contribuir {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #322BC2;
  background: #FFF021;
  border-radius: 4px;
  border: 2px solid #FFF021;
  padding: 10px 32px;
  cursor: pointer;
  transition: ease .4s;
}

.botao-contribuir:hover {
  background: transparent;
  color: #FFF021;
}

/* redes sociais */
.redes-sociais ul {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
}

.redes-sociais ul li + li {
  margin-left: 40px;
}

.redes-sociais ul li a {
  transition: ease .4s;
}

/* redes sociais ícones */
.rs-icon {
  transition: ease .1s;
}

/* redes sociais header */
.rs-icon.rs-header:hover {
  filter: sepia(100%) saturate(1370%) hue-rotate(333deg) brightness(106%) contrast(105%);
}

/* redes sociais footer */
.rs-icon.rs-footer {
  filter: sepia(100%) saturate(1370%) hue-rotate(333deg) brightness(106%) contrast(105%);
}

.rs-icon.rs-footer:hover {
  filter: sepia(8%) saturate(829%) hue-rotate(160deg) brightness(109%) contrast(102%);
}

/* ESTRUTURA */
/* Header */
.header-bg {
  background: #6622FF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

/* menu */
.menu ul {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
}

.menu ul li a {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #FFF;
  font-weight: 700;
  padding: 10px;
}

.menu ul li + li {
  margin-left: 32px;
}

/* Intro */
.intro-bg {
  background: #6622FF;
}

.intro {
  padding: 148px 20px 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-content: center;
  justify-content: center;
  grid-gap: 30px;
}

.intro-texto {
  margin-top: 60px;
}

.subtitulo-intro {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #FFF;
  font-weight: 700;
  margin: 32px 0;
}

/* fundador */
.fundador {
  display: flex;
  align-items: center;
}

.i-fundador {
  margin-right: 16px;
}

.t-fundador {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
}

.p-fundador {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FFF;
  margin-top: 8px;
}

/* quote */
.quote {
  margin-top: 32px;
  border-left: 4px solid #FFF021;
  max-width: 450px;;
}

.quote p {
  font-family: 'Raleway', sans-serif;
  color: #FFF;
  font-size: 18px;
  font-style: italic;
  padding-left: 16px;
}

/* História */
.historia-bg {
  background: #4400CC;
}

.historia {
  padding: 148px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-content: center;
  grid-gap: 30px;
}

.historia-texto {
  position: relative;
  grid-column: 1;
}

.p-historia {
  max-width: 550px;
}

.e-historia {
  position: absolute;
  right: 0;
}

.historia-imagem {
  grid-column: 2;
  align-self: baseline;
}

/* Tecnologia */
.tecnologia-bg {
  background: #1F1B26;
}

.tecnologia {
  padding: 148px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-content: center;
  grid-gap: 60px;
}

.tecnologia-texto {
  grid-column: 2;
}

.tecnologia-imagem {
  grid-column: 1;
}


/* fontes
font-family: 'Raleway', sans-serif;
font-family: 'Work Sans', sans-serif;
*/